.paginationBack, .paginationNext{
    border: none;
    outline: none;
    background: none;
}

.pagination{
    display: flex;
    margin-top: 420px;
    gap: 6px;
    justify-content: center;
}

.paginationPage{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    background: none;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
}

.paginationPage.active{
    background: #000000;
    border: 1px solid #000000 !important;
    color: white;
    border-radius: 50%;
}